[pycodestyle]
max_line_length = 120
ignore = E70


[pep8]
max_line_length = 120
ignore = E70


[flake8]
ignore =
  # flake8-docstrings
  D100 # Missing docstring in public module
  D400 # First line should end with a period
  D415 # (google only) First line should end with a period, question mark, or exclamation point

exclude =
  __init__.py
  */test*.py
  .venv
  node_modules
  09_reference
max-line-length = 120
max-complexity = 20
docstring-convention = google
